{% macro index_concepts(vocab, filter, skip_heading=False) %}
  {% if not skip_heading %}<h3>{{filter|title}}</h3>
  {% endif %}
  {% for iri, concept in vocab.items()|sort(attribute=0) %}
    {% if filter == "external" %}
      {% set inscope = not concept['_dpvterm'] %}
      {% set term = concept['skos:prefLabel'] %}
    {% else %}
      {% set inscope = concept['_dpvterm'] %}
      {% set term = concept['term'] %}
      {% if filter == "classes" %}
        {% set inscope = inscope and concept['_type'] == "class" %}
      {% elif filter == "properties" %}
        {% set inscope = inscope and concept['_type'] == "property" %}
      {% endif %}
    {% endif %}
    {% if inscope %}
    <section class="term-def" id="{{term}}">
      <h4>{{ concept['skos:prefLabel'] }}</h4>
      <table class="term-contents">
      <tbody>
        <tr>
          <th>Term</th>
          <td><dfn>{{ concept['term'] }}</dfn></td>
          <th>Prefix</th>
          <td>{{ concept['prefix'] }}</td>
        </tr>
        <tr>
          <th>Label</th>
          <td><i>{{ concept['skos:prefLabel'] }}</i></td>
        </tr>
        <tr class="technical-detail">
          <th>IRI</th>
          <td><a href="{{ concept['iri'] }}">{{ concept['iri'] }}</a></td>
        </tr>
        <tr class="technical-detail">
          
        </tr>
        <tr class="table-separator"></tr>
        <tr class="technical-detail">
          <th>Type</th>
          <td>{% for parent in concept['rdf:type']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</td>
        </tr>
        {# Parents #}
        {% if concept['skos:broader'] %}
        {% for parentlist in concept|get_parent_hierarchy %}<tr class="technical-detail">
          <th>Broader/Parent types</th>
          <td>{% for parent in parentlist %}
             <a href="{% if parent['prefixed'].split(':')[0] == parent['vocab'] %}#{{parent['term']}}{% else %}{{parent['iri']}}{% endif %}">{{ parent['prefixed'] }}</a>{{ " → " if not loop.last }}
            {% endfor %}</td>
        {% endfor %}</tr>{% endif %}
        {# Children #}
        {% if concept['skos:narrower'] %}
        <tr class="technical-detail">
          <th>Narrower/Specialised types</th>
          <td>{% for child in concept['skos:narrower']|sort %}<a href="{{child}}">{{ child|prefix_this }}</a>{{", " if not loop.last}}{% endfor %}</td>
        </tr>{% endif %}
        {# sub-property #}
        {% if concept['rdfs:subPropertyOf'] %}<tr class="technical-detail">
          <th>Sub-property of</th>
          <td><i>{% for parent in concept['rdfs:subPropertyOf']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</i></td>
        </tr>{% endif %}
        {# domain includes #}
        {% if concept['dcam:domainIncludes'] %}<tr class="technical-detail">
          <th>Domain includes</th>
          <td><i>{% for parent in concept['dcam:domainIncludes']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</i></td>
        </tr>{% endif %}
        {# range includes #}
        {% if concept['dcam:rangeIncludes'] %}<tr class="technical-detail">
          <th>Range includes</th>
          <td><i>{% for parent in concept['dcam:rangeIncludes']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</i></td>
        </tr>{% endif %}
        <tr class="table-separator"></tr>
        {# Description #}
        {% if concept['skos:definition'] %}<tr>
          <th>Definition</th>
          <td><i>{{ concept['skos:definition'] }}</i></td>
        </tr>{% endif %}
        {# Usage Note #}
        {% if concept['skos:scopeNote'] %}{% for note in concept['skos:scopeNote']|ensure_list %}<tr>
          <th>Usage Note</th>
          <td><i>{{note}}</i></td>
        </tr>{% endfor %}{% endif %}
        {# Comment #}
        {% if concept['skos:note'] %}<tr>
          <th>Comment</th>
          <td><i>{{ concept['skos:note'] }}</i></td>
        </tr>{% endif %}
        <tr class="table-separator"></tr>
        {# Source #}
        {% if concept['dct:source'] %}<tr>
          <th>Source</th>
          <td><i>{% for x,y in concept['dct:source']|get_sources %}<a href="{{x}}">{{ y}}</a>{{ "," if not loop.last }}{% endfor %}</i></td>
        </tr>{% endif %}
        {# related #}
        {% if concept['skos:related'] %}<tr>
          <th>Related</th>
          <td><i>{{ concept['skos:related'] }}</i></td>
        </tr>{% endif %}
        <tr class="table-separator"></tr>
        {# created #}
        {% if concept['dct:created'] %}<tr>
          <th>Date Created</th>
          <td><i>{{ concept['dct:created'] }}</i></td>
        </tr>{% endif %}
        {# modified #}
        {% if concept['dct:modified'] %}<tr>
          <th>Date Modified</th>
          <td><i>{{ concept['dct:modified'] }}</i></td>
        </tr>{% endif %}
        {# contributor #}
        {% if concept['dct:contributor'] %}<tr>
          <th>Contributors</th>
          <td><i>{{ concept['dct:contributor'] }}</i></td>
        </tr>{% endif %}
        <tr>
          <th>Documented in</th>
          <td>{% for m in concept['module'] %}<a href="{{concept['namespace']}}vocab-{{m|replace('_','-')}}">{{concept['vocab']|capitalize}} {{m|title|replace('_','-')}}</a>{{", " if not loop.last}}{% endfor %}</td>
        </tr>
        </tbody>
      </table>
    </section>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro list_item_single(topconcepts, concepts, data) %}
  {% for term in topconcepts %}
  <li>
    <strong>{{term}}</strong>: {{data[term]['skos:definition']}} 
      <small><a href="{{data[term]['iri']}}">go to full definition</a></small><br/>
      data: {{ topconcepts[term] }}
    {% if concepts[term]['children'] %}
      <ul>
        {{ list_item_single(concepts[term]['children'], concepts, data) }}
      </ul>
    {% endif %}
  </li>
  {% endfor %}
{% endmacro %}

{% macro list_items(vocab, head=None) %}
{% set concepts = vocab|organise_hierarchy(head) %}
{% if concepts %}<ul class="concept-list">
{% for term, data in concepts.items() %}
  <li>
    <strong>{{term}}</strong>: {{data['skos:definition']}} 
      <small><a href="{% if term.split(':')[0] == vocab['prefix'] %}#{{data['term']}}{% else %}{{data['iri']}}{% endif %}">go to full definition</a></small>
      {{ list_items(vocab, head=term) }}
  </li>
{% endfor %}
</ul>{% endif %}
{% endmacro %}

{% macro list_hierarchy(vocab, head=None) %}
<div class="list-hierarchy">
{{ list_items(vocab, head) }}
</div>
{% endmacro %}
