{% macro table_classes(vocab, skip_heading=False) %}
  {% if not skip_heading %}<h3>Classes</h3>
  {% endif %}
  {% for concept in vocab.values()|sort(attribute='iri') %}
  <table id="{{concept['term']}}">
  <tbody>
    <tr><td>Term</td><td><dfn>{{ concept['term'] }}</dfn></td></tr>
    <tr><td>IRI</td><td><a href="{{ concept['iri'] }}">{{ concept['iri'] }}</a></td></tr>
    <tr><td>Label</td><td><i>{{ concept['skos:prefLabel'] }}</i></td></tr>
    <tr><td>Description</td><td><i>{{ concept['skos:definition'] }}</i></td></tr>
    <tr><td>Type</td><td><i>{% for parent in concept['rdf:type']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</i></td></tr>
    {% if concept['skos:broader'] %}<tr><td>Narrower than</td><td><i>{% for parent in concept['skos:broader']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</i></td></tr>{% endif %}
    {% if concept['rdfs:subPropertyOf'] %}<tr><td>Narrower than</td><td><i>{% for parent in concept['rdfs:subPropertyOf']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</i></td></tr>{% endif %}
    {% if concept['dcam:domainIncludes'] %}<tr><td>Domain includes</td><td><i>{% for parent in concept['dcam:domainIncludes']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</i></td></tr>{% endif %}
    {% if concept['dcam:rangeIncludes'] %}<tr><td>Range includes</td><td><i>{% for parent in concept['dcam:rangeIncludes']|get_concept_list %}<a href="{{parent['iri']}}">{{parent['prefixed']}}</a>{{", " if not loop.last }}{% endfor %}</i></td></tr>{% endif %}
    {% if concept['skos:note'] %}<tr><td>Usage Note</td><td><i>{{ concept['skos:note'] }}</i></td></tr>{% endif %}
    {% if concept['dct:source'] %}<tr><td>Source</td><td><i>{{ concept['dct:source'] }}</i></td></tr>{% endif %}
    {% if concept['dct:created'] %}<tr><td>Date Created</td><td><i>{{ concept['dct:created'] }}</i></td></tr>{% endif %}
    {% if concept['dct:modified'] %}<tr><td>Date Modified</td><td><i>{{ concept['dct:modified'] }}</i></td></tr>{% endif %}
    {% if concept['skos:related'] %}<tr><td>Related</td><td><i>{{ concept['skos:related'] }}</i></td></tr>{% endif %}
    {% if concept['dct:contributor'] %}<tr><td>Contributors</td><td><i>{{ concept['dct:contributor'] }}</i></td></tr>{% endif %}
  </tbody>
  </table>
{% endfor %}
{% endmacro %}

{% macro list_items(vocab) %}
<ul>{% for term, data in vocab.items() | sort %}
  <li>
    <strong>{{term}}</strong>: {{data['skos:definition']}} <br/>
    <small>{% if data['skos:broader'] %}
      broader concepts: {% for parent in data['skos:broader']|get_concept_list%}
      <a href="#{{parent['term']}}"><code>{{ parent['prefixed'] }}</code></a>{{ "," if not loop.last }}
      {% endfor %}; 
    {% elif data['rdfs:subClassOf'] %}
      broader concepts: {% for parent in data['rdfs:subClassOf']|get_concept_list%}
      <a href="#{{parent['term']}}"><code>{{ parent['prefixed'] }}</code></a>{{ "," if not loop.last }}
      {% endfor %}; 
    {% endif %}
    see <a href="#{{data['term']}}">complete term definition</a></small>
    </li>
{% endfor %}</ul>
{% endmacro %}
