{% extends 'contents_dpv.jinja2' %}
%{% from 'macro_term_table.jinja2' import index_concepts %}
%{% from 'macro_term_table.jinja2' import list_items %}
%{% from 'macro_term_table.jinja2' import list_hierarchy %}
{% from 'macro_term_table.jinja2' import table_properties, ref_dedicated_documentation %}
{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd %}