{% macro dpv_document_family(document=None) %}
{# references.json contains the title/href for documents which is automatically expanded by ReSpec ; this macro contains only the document listing and text #}
<section id="dpv-document-family" class="noTOC">
    <h2>DPV Family of Documents</h2>
    <ul>
      <li>[[[PRIMER]]]: {{ "(this document)" if document == 'primer' }} An introductory document for DPV's concepts and taxonomies.
        <p class="note">Newcomers to the DPV are <strong>strongly recommended to first read through the Primer</strong> to familiarise themselves with the semantics and concepts of DPV.</p>
      </li>
      <li>[[[DPV]]]: {{ "(this document)" if document == 'dpv-spec' }} The base/core 'Data Privacy Vocabulary'</li>
      <li>Extensions:<ul>
        <li>[[[PD]]] {{ "(this document)" if document == 'dpv-pd-spec' }}</li>
        <li>[[[TECH]]] {{ "(this document)" if document == 'dpv-tech-spec' }}</li>
        <li>[[[RISK]]] {{ "(this document)" if document == 'risk-spec' }}</li>
        <li>[[[LOC]]] {{ "(this document)" if document == 'loc-spec' }}</li>
        <li>[[[LEGAL]]] {{ "(this document)" if document == 'dpv-legal-spec' }}, with extensions for specific jurisdictions:<ul>
          <li>[[[LEGAL-EU]]] - with extensions for laws [[EU-GDPR]], [[EU-DGA]], and [[EU-RIGHTS]]</li>
          <li>[[[LEGAL-US]]]</li>
          <li>[[[LEGAL-GB]]]</li>
          <li>[[[LEGAL-IE]]]</li>
        </ul></li>
      <li>[[[GUIDES]]]: {{ "(this document)" if document == 'dpv-guides' }}<ul>
        <li>[[[GUIDE-Serialisations]]] {{ "(this document)" if document == 'dpv-guide-serialisations' }} (coming soon)</li>
        <li>[[[GUIDE-OWL2]]] {{ "(this document)" if document == 'dpv-guide-owl2' }}</li>
        </ul></li>
      <li>Other Resources:<ul>
        <li>[[[UseCases-Requirements]]]</li>
        <li>[[[EXAMPLES]]]</li>
        <li>[[[DPV-NACE]]]</li>
        </ul></li>
    </ul>
    <p><strong>Related Links</strong></p>
    <ul>
      <li>Releases are published on <a href="https://github.com/w3c/dpv/releases">GitHub</a></li>
      <li>For a general overview of the Data Protection Vocabularies and Controls Community Group [[DPVCG]], its history, deliverables, and activities - refer to <a href="https://www.w3.org/community/dpvcg/"><u>DPVCG Website</u></a>.</p>
      </li>
      <li>
        <p>The peer-reviewed article “<a href="https://link.springer.com/chapter/10.1007%2F978-3-030-33246-4_44"><u>Creating A Vocabulary for Data Privacy</u></a>” presents a historical overview of the DPVCG, and describes the methodology and structure of the DPV along with describing its creation. An open-access version can be accessed <a href="http://hdl.handle.net/2262/91581"><u>here</u></a>, <a href="http://doras.dcu.ie/23801/"><u>here</u></a>, and <a href="https://aic.ai.wu.ac.at/~polleres/publications/pand-etal-2019ODBASE.pdf"><u>here</u></a>.</p>
      </li>
    </ul>
</section>
{% endmacro %}

{% macro sotd() %}
<section id="sotd">
  <!-- sotd: Status of this document -->
  <p>This document is published by the <a href="https://www.w3.org/community/dpvcg/">Data Privacy Vocabularies and Controls Community Group (DPVCG)</a> as a deliverable and report of its work in creating and maintaining the Data Privacy Vocabulary (DPV).</p>
  <div class="note">
    <p><strong>Contributing to the DPV and its extensions</strong> The DPVCG welcomes participation regarding the DPV, including expansion or refinement of its terms, addressing open issues, and welcomes suggestions on their resolution or mitigation. For further information, please see the <a href="https://github.com/w3c/dpv#contribution--participation">contribution section</a>.</p>
  </div>
</section>
{% endmacro %}